## Data Set Information:

This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in two distinct subjects: Mathematics (mat) and Portuguese language (por). In [Cortez and Silva, 2008], the two datasets were modeled under binary/five-level classification and regression tasks. Important note: the target attribute G3 has a strong correlation with attributes G2 and G1. This occurs because G3 is the final year grade (issued at the 3rd period), while G1 and G2 correspond to the 1st and 2nd period grades. It is more difficult to predict G3 without G2 and G1, but such prediction is much more useful (see paper source for more details).


Attribute Information:

## Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira).

sex - student's sex (binary: 'F' - female or 'M' - male)

age - student's age (numeric: from 15 to 22)

address - student's home address type (binary: 'U' - urban or 'R' - rural)

famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)

Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)

Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)

Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)

Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')

Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')

guardian - student's guardian (nominal: 'mother', 'father' or 'other')

traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)

studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)

failures - number of past class failures (numeric: n if 1<=n<3, else 4)

schoolsup - extra educational support (binary: yes or no)

famsup - family educational support (binary: yes or no)

paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)

activities - extra-curricular activities (binary: yes or no)

nursery - attended nursery school (binary: yes or no)

higher - wants to take higher education (binary: yes or no)

internet - Internet access at home (binary: yes or no)

romantic - with a romantic relationship (binary: yes or no)

famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)

freetime - free time after school (numeric: from 1 - very low to 5 - very high)

goout - going out with friends (numeric: from 1 - very low to 5 - very high)

Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)

Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)

health - current health status (numeric: from 1 - very bad to 5 - very good)

absences - number of school absences (numeric: from 0 to 93)

## these grades are related with the course subject, Math or Portuguese:
G1 - first period grade (numeric: from 0 to 20)

G2 - second period grade (numeric: from 0 to 20)

G3 - final grade (numeric: from 0 to 20, output target

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
math=pd.read_csv('student-mat.csv',sep=';')
por=pd.read_csv('student-por.csv',sep=';')

In [3]:
math.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [6]:
por.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [7]:
x_math=math.drop('G3',axis=1)
y_math=math['G3']
x_por=por.drop('G3',axis=1)
y_por=por['G3']

In [8]:
math.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [9]:
por.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [10]:
x_math=math.drop('G3',axis=1)
x_por=por.drop('G3',axis=1)
y_math=math['G3']
y_por=por['G3']

In [11]:
math_ar=[]
for i in math.columns:
    if math.dtypes[i]==np.object:
        math_ar.append(i)
por_ar=[]
for i in math.columns:
    if math.dtypes[i]==np.object:
        por_ar.append(i)

In [12]:
math.dtypes['age']

dtype('int64')

In [13]:
math_valcnt=[]
for i in math_ar:
    math_valcnt.append(math[i].value_counts())
math_valcnt

[GP    349
 MS     46
 Name: school, dtype: int64,
 F    208
 M    187
 Name: sex, dtype: int64,
 U    307
 R     88
 Name: address, dtype: int64,
 GT3    281
 LE3    114
 Name: famsize, dtype: int64,
 T    354
 A     41
 Name: Pstatus, dtype: int64,
 other       141
 services    103
 at_home      59
 teacher      58
 health       34
 Name: Mjob, dtype: int64,
 other       217
 services    111
 teacher      29
 at_home      20
 health       18
 Name: Fjob, dtype: int64,
 course        145
 home          109
 reputation    105
 other          36
 Name: reason, dtype: int64,
 mother    273
 father     90
 other      32
 Name: guardian, dtype: int64,
 no     344
 yes     51
 Name: schoolsup, dtype: int64,
 yes    242
 no     153
 Name: famsup, dtype: int64,
 no     214
 yes    181
 Name: paid, dtype: int64,
 yes    201
 no     194
 Name: activities, dtype: int64,
 yes    314
 no      81
 Name: nursery, dtype: int64,
 yes    375
 no      20
 Name: higher, dtype: int64,
 yes    329
 no      66
 Name: internet, dtype: int64,
 no     263
 yes    132
 Name: romantic, dtype: int64]

In [14]:
math_ar_len2=[]
for i in math_ar:
    if len(math[i].unique())==2:
        math_ar_len2.append(i)
new_x_math=pd.get_dummies(math[math_ar_len2],drop_first=True)
new_x_math.head()

,school_MS,sex_M,address_U,famsize_LE3,Pstatus_T,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,0,0,1,0,0,1,0,0,0,1,1,0,0
1,0,0,1,0,1,0,1,0,0,0,1,1,0
2,0,0,1,1,1,1,0,1,0,1,1,1,0
3,0,0,1,0,1,0,1,1,1,1,1,1,1
4,0,0,1,0,1,0,1,1,0,1,1,0,0

In [15]:
x_math.drop(math_ar_len2,axis=1,inplace=True)
x_math[new_x_math.columns]=new_x_math
x_math.head()

,age,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,...,famsize_LE3,Pstatus_T,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,4,at_home,teacher,course,mother,2,2,0,...,0,0,1,0,0,0,1,1,0,0
1,17,1,1,at_home,other,course,father,1,2,0,...,0,1,0,1,0,0,0,1,1,0
2,15,1,1,at_home,other,other,mother,1,2,3,...,1,1,1,0,1,0,1,1,1,0
3,15,4,2,health,services,home,mother,1,3,0,...,0,1,0,1,1,1,1,1,1,1
4,16,3,3,other,other,home,father,1,2,0,...,0,1,0,1,1,0,1,1,0,0

In [16]:
for i in math.columns:
    print(i,':',len(math[i].unique()),':',math.dtypes[i])

school : 2 : object
sex : 2 : object
age : 8 : int64
address : 2 : object
famsize : 2 : object
Pstatus : 2 : object
Medu : 5 : int64
Fedu : 5 : int64
Mjob : 5 : object
Fjob : 5 : object
reason : 4 : object
guardian : 3 : object
traveltime : 4 : int64
studytime : 4 : int64
failures : 4 : int64
schoolsup : 2 : object
famsup : 2 : object
paid : 2 : object
activities : 2 : object
nursery : 2 : object
higher : 2 : object
internet : 2 : object
romantic : 2 : object
famrel : 5 : int64
freetime : 5 : int64
goout : 5 : int64
Dalc : 5 : int64
Walc : 5 : int64
health : 5 : int64
absences : 34 : int64
G1 : 17 : int64
G2 : 17 : int64
G3 : 18 : int64

In [17]:
math_ar_len=[]
for i in math_ar:
    if len(math[i].unique())>2:
        math_ar_len.append(i)
math_ar_len

['Mjob', 'Fjob', 'reason', 'guardian']

In [18]:
from sklearn.preprocessing import MultiLabelBinarizer

In [19]:
one_hot = MultiLabelBinarizer()

In [20]:
new=one_hot.fit_transform(math['Mjob'])
new

array([[1, 1, 0, ..., 0, 1, 0],
       [1, 1, 0, ..., 0, 1, 0],
       [1, 1, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 1, ..., 1, 0, 1],
       [0, 0, 0, ..., 0, 1, 0]])

In [21]:
new=pd.DataFrame(new)
new.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12
0   1   1   0   1   1   0   0   1   1   0   0   1   0
1   1   1   0   1   1   0   0   1   1   0   0   1   0
2   1   1   0   1   1   0   0   1   1   0   0   1   0
3   0   1   0   1   1   0   1   0   0   0   0   1   0
4   0   0   0   1   1   0   0   0   1   1   0   1   0

In [22]:
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(math[['Fjob','Mjob','reason', 'guardian']]).toarray())
enc_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
391,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
392,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
393,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
394,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [23]:
new1_x_math=pd.get_dummies(math[['Fjob','Mjob','reason', 'guardian']],drop_first=True)
new1_x_math.head()

,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,reason_home,reason_other,reason_reputation,guardian_mother,guardian_other
0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,1,0,1,0
3,0,0,1,0,1,0,0,0,1,0,0,1,0
4,0,1,0,0,0,1,0,0,1,0,0,0,0

In [24]:
x_math.drop(['Fjob','Mjob','reason', 'guardian'],axis=1,inplace=True)
x_math[new1_x_math.columns]=new1_x_math
x_math.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,Fjob_teacher,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,reason_home,reason_other,reason_reputation,guardian_mother,guardian_other
0,18,4,4,2,2,0,4,3,4,1,...,1,0,0,0,0,0,0,0,1,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,0,0,0,0,0,0,0,0
2,15,1,1,1,2,3,4,3,2,2,...,0,0,0,0,0,0,1,0,1,0
3,15,4,2,1,3,0,3,2,2,1,...,0,1,0,0,0,1,0,0,1,0
4,16,3,3,1,2,0,4,3,2,1,...,0,0,1,0,0,1,0,0,0,0

In [25]:
from sklearn.model_selection import train_test_split
x_math_train,x_math_test,y_math_train,y_math_test=train_test_split(x_math,y_math,test_size=0.3,random_state=42)
x_por_train,x_por_test,y_por_train,y_por_test=train_test_split(x_por,y_por,test_size=0.3,random_state=42)

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_math_train = sc.fit_transform(x_math_train)
x_math_test=sc.fit_transform(x_math_test)

In [27]:
x_math_train

array([[-0.5600082 ,  0.24410286,  0.45933515, ...,  1.63707055,
         0.672779  , -0.3086067 ],
       [-0.5600082 ,  0.24410286, -0.47975005, ..., -0.61084722,
         0.672779  , -0.3086067 ],
       [-1.33670299, -0.69162477,  1.39842035, ..., -0.61084722,
         0.672779  , -0.3086067 ],
       ...,
       [ 1.77007618,  0.24410286,  0.45933515, ..., -0.61084722,
        -1.4863722 ,  3.24037035],
       [ 0.21668659,  1.1798305 ,  0.45933515, ...,  1.63707055,
         0.672779  , -0.3086067 ],
       [-1.33670299,  1.1798305 ,  1.39842035, ..., -0.61084722,
         0.672779  , -0.3086067 ]])

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
lin=LinearRegression()
lin.fit(x_math_train,y_math_train)

LinearRegression()

In [30]:
y_pred=lin.predict(x_math_train)

In [31]:
from sklearn.metrics import r2_score,scorer

C:\Users\home\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [32]:
r2_score(y_math_train,y_pred)

0.8678351970261922

In [33]:
from sklearn.model_selection import cross_val_score

In [34]:
val=cross_val_score(lin,x_math_train,y_math_train,cv=5)

In [35]:
val

array([0.82637843, 0.83087939, 0.81137219, 0.8302381 , 0.76813516])

In [36]:
print(val.mean(),val.std()*2)

0.8134006539057838 0.04741735983361262

In [39]:
from sklearn.svm import LinearSVR,SVR

In [40]:
lsvr=LinearSVR()
svr=SVR()
lsvr.fit(x_math_train,y_math_train)
svr.fit(x_math_train,y_math_train)

SVR()

In [42]:
lsvr_pred=lsvr.predict(x_math_train)
svr_pred=svr.predict(x_math_train)

In [44]:
print('linear regression:',r2_score(y_math_train,y_pred),'\nLinear SVR:',r2_score(y_math_train,lsvr_pred),'\nSVR:',r2_score(y_math_train,svr_pred))

linear regression: 0.8678351970261922
Linear SVR: 0.815271800638718
SVR: 0.651128814412635

In [46]:
linreg_val=cross_val_score(lin,x_math_train,y_math_train,cv=5)
linsvr_val=cross_val_score(lsvr,x_math_train,y_math_train,cv=5)
svr_val=cross_val_score(svr,x_math_train,y_math_train,cv=5)
print('linear regression:',linreg_val.mean(),'+/-',linreg_val.std(),'\nLinear SVR:',linsvr_val.mean(),'+/-',linsvr_val.std(),'\nSVR:',svr_val.mean(),'+/-',svr_val.std())

C:\Users\home\Anaconda3\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\home\Anaconda3\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\home\Anaconda3\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\home\Anaconda3\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\home\Anaconda3\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

linear regression: 0.8134006539057838 +/- 0.02370867991680631
Linear SVR: 0.8070775601384611 +/- 0.03680372169441235
SVR: 0.4922208074681939 +/- 0.035996019098204865

In [49]:
from sklearn.model_selection import RandomizedSearchCV

In [48]:
svr.get_params()

{'C': 1.0,
 'cache_size': 200,
 'coef0': 0.0,
 'degree': 3,
 'epsilon': 0.1,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [58]:
param_grid={'C':[1.0,0.5,2,0.1,10,15,20],'gamma':['scale', 'auto','float']}

In [59]:
random_reg = RandomizedSearchCV(svr,param_grid,n_iter=15,n_jobs=-1,cv=5)

In [60]:
random_reg.fit(x_math_train,y_math_train)

RandomizedSearchCV(cv=5, estimator=SVR(), n_iter=15, n_jobs=-1,
                   param_distributions={'C': [1.0, 0.5, 2, 0.1, 10, 15, 20],
                                        'gamma': ['scale', 'auto', 'float']})

In [61]:
random_reg.best_params_

{'gamma': 'scale', 'C': 20}

In [62]:
random_reg.best_score_

0.7489287620958356

In [63]:
from sklearn.tree import DecisionTreeRegressor

In [64]:
tre=DecisionTreeRegressor()
tre.fit(x_math_train,y_math_train)

DecisionTreeRegressor()

In [65]:
tree_predict=tre.predict(x_math_train)

In [66]:
r2_score(y_math_train,tree_predict) ## overfitting

1.0

In [68]:
from sklearn.ensemble import RandomForestRegressor

In [71]:
randfor=RandomForestRegressor()
randfor.fit(x_math_train,y_math_train)
forest_predict = randfor.predict(x_math_train)
r2_score(y_math_train,forest_predict)

0.9855064281154091

In [84]:
from sklearn.model_selection import GridSearchCV
param_grid = [
    # try 12 (3×4) combinations of hyperparameters
    {'n_estimators': [3,5, 10,20,30,50,80,100,150], 'max_features': [2,4, 6,10,15,20,25,30,40]}
  ]

grid_search = RandomizedSearchCV(randfor, param_grid, cv=5,
                           scoring='r2',
                           return_train_score=True)
grid_search.fit(x_math_train,y_math_train)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(),
                   param_distributions=[{'max_features': [2, 4, 6, 10, 15, 20,
                                                          25, 30, 40],
                                         'n_estimators': [3, 5, 10, 20, 30, 50,
                                                          80, 100, 150]}],
                   return_train_score=True, scoring='r2')

In [85]:
grid_search.best_params_

{'n_estimators': 100, 'max_features': 20}

In [86]:
grid_search.best_score_

0.8764065725118979

In [87]:
randfor=RandomForestRegressor( n_estimators=50,max_features=20)
randfor.fit(x_math_train,y_math_train)
forest_predict = randfor.predict(x_math_train)
r2_score(y_math_train,forest_predict)

0.9839753828639997

In [90]:
a=randfor.predict(x_math_test)
r2_score(y_math_test,a)

0.8698102811544293

In [88]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [99]:
from sklearn.model_selection import KFold

In [100]:
kf=KFold()

In [101]:
kf

KFold(n_splits=5, random_state=None, shuffle=False)

In [104]:
for i in kf.split(x_math_train,y_math_train):
    print(i,j)

ValueError: not enough values to unpack (expected 4, got 2)

In [91]:
tree_reg1 = DecisionTreeRegressor(max_depth=5, random_state=42)
tree_reg1.fit(x_math_train,y_math_train)

DecisionTreeRegressor(max_depth=5, random_state=42)

In [93]:
y2 = y_math_train - tree_reg1.predict(x_math_train)
tree_reg2 = DecisionTreeRegressor(max_depth=5)
tree_reg2.fit(x_math_train,y_math_train)

DecisionTreeRegressor(max_depth=5)

In [95]:
y3 = y2 - tree_reg2.predict(x_math_train)
tree_reg3 = DecisionTreeRegressor(max_depth=5)
tree_reg3.fit(x_math_train, y_math_train)

DecisionTreeRegressor(max_depth=5)

In [98]:
y_predGBRT=tree_reg3.predict(x_math_train)

In [ ]:
gbrt = GradientBoostingRegressor(max_depth=5, n_estimators=120, learning_rate=1.0, random_state=42)
gbrt.fit(x_math_train,y_math_train)
errors = [mean_squared_error(y_math_train, y_pred)  for y_pred in gbrt.staged_predict(x_math_train,y_pred)]

In [ ]:
bst_n_estimators = np.argmin(errors) + 1

gbrt_best = GradientBoostingRegressor(max_depth=2, n_estimators=bst_n_estimators, random_state=42)
gbrt_best.fit(X_train, y_train)

In [ ]:
min_error = np.min(errors)
min_error