In [78]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import nltk

In [79]:
df=pd.read_csv("spam.csv",encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [80]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [81]:
df=df.rename(columns={'v1':'class','v2':'text'})

In [82]:
df.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [83]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [84]:
ps=PorterStemmer()
corpus=[]

In [85]:
for i in range(0,len(df)):
    review = re.sub('[^a-zA-Z]', ' ', df['text'][i])
    review = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [86]:
cv=CountVectorizer(max_features=2500)

In [88]:
x=cv.fit_transform(corpus).toarray()

In [89]:
y=pd.get_dummies(df['class'])

In [90]:
y=y.iloc[:,1].values

In [91]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [92]:
model=MultinomialNB().fit(x_train,y_train)

In [93]:
y_pred = model.predict(x_test)

In [95]:
from sklearn.metrics import f1_score

In [96]:
f1_score(y_pred,y_test)

0.9421487603305786

In [97]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred,y_test)

array([[1416,   10],
       [  18,  228]], dtype=int64)